<footer id="footer">
    <div id="footer-wrap">
        <div>
            &copy;
            <%= theme.footer.since %> - <%= date(Date.now(), "YYYY" ) %>
                    MCSL2 Team. All Rights Reserved.
        </div>
        <div>
            本网站由 <a href="https://idc.jyywl.com/">玖壹云互联</a> 提供加速及防御。
        </div>
        <% if (theme.footer.ICP.enable) { %>
            <div>
                <% if (theme.footer.ICP.link) { %>
                    <a href="<%- url_for(theme.footer.ICP.link) %>">
                        <%= theme.footer.ICP.code %>
                    </a>
                    <% } else { %>
                        <%= theme.footer.ICP.code %>
                            <% } %>
                <a href="https://ipw.cn/ssl/?site=mcsl.com.cn" title="本站支持SSL安全访问" target='_blank'><img style='display:inline-block;vertical-align:middle' alt="本站支持SSL安全访问" src="https://static.ipw.cn/icon/ssl-s1.svg"></a>
            </div>
            <% } %>
    </div>
</footer>